/* banner */
.main-image {
  position: relative;
  /* background-image: url(../../assets/img/image16.png); */
  background-repeat: no-repeat center;
  background-size: cover;
  height: 350px;
  overflow: hidden;
}

.con-text h1 {
  margin-top: 8vmin;
  font-size: 7vmin;
  font-weight: bold;
  color: var(--main-color);
}

.container {
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 2px 15px 0px rgb(0, 0, 0, 0.2);
}

section .ex-seni h2 {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: var(--font-semibold);
}

/* for mobile tagline START */
@media (max-width: 576px) {
  .row h1 {
    line-height: 1em;
    font-size: 1.7em;
    padding: 0 20px;
  }
  .row .text-comment {
    font-size: 0.7em;
    padding: 0 20px;
  }
}
/* for mobile tagline END */

/* button expoler START*/
.btn-explore {
  border: solid 1px var(--main-color);
  color: var(--main-color);
  font-weight: var(--font-medium);
}
.btn-explore:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
/* button expoler END*/

/* Image for General class START*/
.container img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.rotate-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* Image for General class END */

/* .my-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../img/profile.jpg);
    background-size: cover;
  } */
